---
layout: default
---
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">{{ site.title }}</h1>
      <p class="lead text-muted">{{ site.description }}</p>
      <p>
        <a href="#" class="btn btn-primary">Let's Start Shopping</a>
        <a href="{{ site.extension.url }}" target="_blank" class="btn btn-secondary">Install chrome extension</a>
      </p>
    </div>
  </div>
</section>

{{ content }}
